:root {
    --theme1: #1e90ff;
    --theme2: #b0c4de;
    --radius: 1vmin;
    --box-shadow-bottom: 4px;
}
* {
    margin: 0;
    font-size: 1.4vw;
}
main {
    display: flex;
    width: 80vw;
    height: 14vmin;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input,
input:focus {
    flex: 5;
    padding: 2vmin 6vmin;
    color: var(--theme1);
    text-align: center;
    border: 1px solid var(--theme1);
    border-radius: var(--radius) 0 0 var(--radius);
    box-shadow: 0 var(--box-shadow-bottom) var(--theme2);
    outline: none;
}
input::placeholder {
    color: var(--theme2);
}
button {
    flex: 1;
    color: white;
    background-color: var(--theme1);
    border: unset;
    border-radius: 0 var(--radius) var(--radius) 0;
    box-shadow: 0 var(--box-shadow-bottom) var(--theme2);
}
dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--theme1);
    border: 1px solid var(--theme2);
    border-radius: var(--radius);
    box-shadow: 0 var(--box-shadow-bottom) var(--theme2);
    outline: none;
}
